<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonglv.benchmarking.domain.mapper.SeriesInfoMapper">
    <resultMap id="BaseResultMap" type="com.zhonglv.benchmarking.domain.entity.SeriesInfo">
        <!--@mbg.generated-->
        <!--@Table t_series_info-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="info" jdbcType="VARCHAR" property="info"/>
        <result column="electrolytic_series" jdbcType="VARCHAR" property="electrolyticSeries"/>
        <result column="branch_company" jdbcType="VARCHAR" property="branchCompany"/>
        <result column="series_type" jdbcType="SMALLINT" property="seriesType"/>
        <result column="series_desc" jdbcType="VARCHAR" property="seriesDesc"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        tsi.id, tsi.info, tsi.electrolytic_series, tsi.branch_company, tsi.series_type, tsi.series_desc,
        tsi.create_time, tsi.update_time
    </sql>


    <select id="selectSeriesByGroupId" resultType="com.zhonglv.benchmarking.domain.entity.SeriesInfo">
        select
        <include refid="Base_Column_List"/>
        from t_series_permission tsp
        inner join t_series_info tsi
        on tsp.series_id = tsi.id
        where tsp.group_id = #{groupId,jdbcType=BIGINT}
    </select>

    <select id="selectIndicators" resultType="com.zhonglv.benchmarking.domain.entity.Indicators">
        select
        <include refid="com.zhonglv.benchmarking.domain.mapper.IndicatorsMapper.Indicators_Column_List"/>
        from t_series_info tsi
        inner join indicators ids
        on tsi.info = ids.series_name
        <where>
            <if test="seriesNames != null and seriesNames.size() > 0 ">
                and tsi.info in
                <foreach item="item" collection="seriesNames" open="(" separator="," close=")" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="startTime != null and startTime != ''">
                <![CDATA[ and ids.Date_month >= #{startTime,jdbcType=TIMESTAMP} ]]>
            </if>
            <if test="endTime != null and endTime != ''">
                <![CDATA[ and ids.Date_month <= #{endTime,jdbcType=TIMESTAMP} ]]>
            </if>
            <if test="indicatorsNames != null and indicatorsNames.size() > 0 ">
                and ids.Indicators_name in
                <foreach item="item" collection="indicatorsNames" open="(" separator="," close=")" index="index">
                    #{item}
                </foreach>
            </if>
            <if test="seriesType != null and seriesType != ''">
                and tsi.series_type = #{seriesType,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>
